{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for message in messages %}
  <p class="alert alert-success" style="animation fedout 5s forwards; @keyframes fedout{0%{opacity: 1; 90%{opacity: 1}; 100%{opacity: 0;}}">{{message}}</p>
{% endfor%}


<div class="row">
  <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-end pb-3">
          <div class="page-title-right">
            <a type="button" class="btn btn-primary w-100"
                href="{% url 'view_movies' %}">Back
            </a>
          </div>
      </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <form  action="{% url 'add_movie' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group mb-3 row">
        <label class="form-label col-3 col-form-label">Title</label>
        <div class="col-5">
          <input type="text" name="title" class="form-control" placeholder="Movie title" />
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label class="form-label col-3 col-form-label">Release date</label>
        <div class="col-5">
          <input type="date" name="release_date" class="form-control"/>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label class="form-label col-3 col-form-label">Director(s)</label>
        <div class="col-5">
          <input type="text" name="directors" class="form-control" placeholder="Directors"/>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label class="form-label col-3 col-form-label">Actors(s)</label>
        <div class="col-5">
          <textarea name="actors" class="form-control" cols="30" rows="3" placeholder="Actors"></textarea>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label class="form-label col-3 col-form-label">Writer(s)</label>
        <div class="col-5">
          <textarea name="writers" class="form-control" cols="30" rows="3" placeholder="Writer(s)"></textarea>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label class="form-label col-3 col-form-label">Genres</label>
        <div class="col-5">
          <input type="text" name="genres" class="form-control" placeholder="Genres"/>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label class="form-label col-3 col-form-label">Storyline</label>
        <div class="col-5">
          <textarea name="storyline" class="form-control" cols="30" rows="3" placeholder="Storyline"></textarea>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label class="form-label col-3 col-form-label">Trailer Link</label>
        <div class="col-5">
          <input type="text" name="trailer_url" class="form-control" placeholder="Trailer link"/>
        </div>
      </div>
      <div class="form-group mb-3 row">
        <label class="form-label col-3 col-form-label">Cover</label>
        <div class="col-5">
          <input type="file" name="upload" accept="image/*" class="form-control" placeholder="Cover"/>
        </div>
      </div>

      <div class="form-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
{% if uploaded_file_url %}
<p>File uploaded at: <a href="{{ uploaded_file_url }}" target="_blank">{{ uploaded_file_url }}</a></p>
{% endif %}

{% endblock %}
