{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Movies
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-lg-2">
                <div class="">
                 
                  <div class="card-body">
                    <div class="row g-2 align-items-center mb-n3">
                     
                      <div class="col-12 col-sm-12 col-md-2 col-xl mb-3 ">
                        <a href="{% url 'add_movie' %}"class="btn btn-primary w-100">
                          Add
                        </a>
                      </div>
                      
                    </div>
                    <div class="row g-2 align-items-center mb-n3">
                     
                      <div class="col-6 col-sm-12 col-md-2 col-xl mb-3">
                        <a href="{% url 'view_movies' %}" class="btn btn-primary w-100">
                          View
                        </a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-10">
              {% block movies_content %} {% endblock %}
              
          </div>
        </div>
      </div>
    </div>
    

</div>
{% endblock %}