{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <h2 class="page-title">Mentions</h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    {% for i in post_list %}
    <div class="row row-deck row-cards mt-1">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="header">
                <h2 class="page-title mb-2">
                  {{forloop.counter}} : {{i.title}}
                </h2>
                End time {{i.display_time_end|date:' H:i' }}
              </div>
              <div class="ms-auto lh-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% endblock %}
  </div>
</div>
